[submodule "eigen"]
	path = eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json.git
[submodule "CRCpp"]
	path = CRCpp
	url = https://github.com/d-bahr/CRCpp.git
